@model IEnumerable<SLT.Models.BagsColors>

@{
    ViewBag.Title = "Index";
}



<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <h2>
                "WELCOME TO DEMO INVENTORY USING ENTITYFRAMEWORK BY SELEENA"
            </h2> 

        </div>

    </div>
    
    

</div>

